<section class="hero py-16">
    <div class="container mx-auto flex items-center justify-between">

        <div class="w-1/2">
            <h6 class="text-lg">
                <em>Are you hugry?</em>
            </h6>
            <h1 class="text-6xl font-bold">Don't wait !</h1>
            <button class="px-5 py-2 rounded-full text-white font-bold mt-4 btn-primary">Order Now </button>
        </div>
        <div class="w-1/2">
            <img src="/img/hero-pizza.png" alt="">
        </div>
    </div>
</section>
<section class="menu container mx-auto px-4 py-8">
    <h1 class="text-xl font-bold mb-8">All Pizzas </h1>
    <div class="grid xl:grid-cols-5 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-16 ">

        <% locals.pizzas.forEach((item, index)=>{ %>
            <div class="w-64 bg-slate-100 ounded overflow-hidden shadow-lg m-4 mx-auto p-2">
                <img class="h-40 mb-4 mx-auto" src="/img/<%=item.image%>" alt="">
                <div class="text-center">
                    <h2 class="mb-4 text-lg">
                        <%=item.name%>
                    </h2>
                    <span class=" size py-1 px-4 rounded-full uppercase text-xs">
                        <%=item.size%>
                    </span>
                    <div class="flex items-center justify-around mt-6">
                        <span class="font-bold text-lg text-green-600">₹<%=item.price%></span>
                        <button onclick="addToCart( `<%=item._id%>`)"
                            class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold"><span>+</span>
                            <span class="ml-4">Add</span>
                        </button>
                    </div>
                </div>
            </div>


            <% }) %>

    </div>
</section>

<script>
    const queryParams = new URLSearchParams(window.location.search);
    const message = queryParams.get('msg');
    if (message === 'success') {
        Toastify({
            text: "Login successful!",
            duration: 3000,
            newWindow: true,
            close: true,
            gravity: "top", // `top` or `bottom`
            position: "center", // `left`, `center` or `right`
            backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
            stopOnFocus: true, // Prevents dismissing of toast on hover
            onClick: function () { } // Callback after click
        }).showToast();
    }
</script>


<script>
    const addToCart = async (id) => {
        const d = await fetch("/add-to-cart", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({

                id,

            })
        })

        const data = await d.json();

        console.log(data)

        if (data.success) {
            Toastify({
                text: "Item added to Cart!!!",
                duration: 3000,
                newWindow: true,
                close: true,
                gravity: "top", // `top` or `bottom`
                position: "center", // `left`, `center` or `right`
                backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
                stopOnFocus: true, // Prevents dismissing of toast on hover
                onClick: function () { } // Callback after click
            }).showToast();
            getCartItemCount()
        }
        else {
            Toastify({
                text: data.message,
                duration: 3000,
                newWindow: true,
                close: true,
                gravity: "top", // `top` or `bottom`
                position: "center", // `left`, `center` or `right`
                backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
                stopOnFocus: true, // Prevents dismissing of toast on hover
                onClick: function () { } // Callback after click
            }).showToast();



        }
    }
</script>